doctype html
html
    head
        meta(charset="UTF-8")
        title Форум
        block styles
            link(rel="stylesheet" href='/stylesheets/style.css')
        block scripts
    body
        include ../templates/mainmenu
        block content