doctype html
html
    head
        meta(charset="UTF-8")
        title Форум
        link(rel="stylesheet" href='/stylesheets/style.css')
    body
        include templates/mainmenu
        .buttons
            input(id="create_btn" type="button"  value="Новая тема" disabled=user? false:true)
            if user
                form#new_theme(method="POST" action='/theme' style="display: none")
                    p Создать новую тему:
                    input(type="text" id="new_theme_name" name='name')
                    div
                        input(type="submit" value="Создать")
                        input(type="button" id="new_theme_cancel" value="Отмена")
        #themes_list
            each theme in themes
                .theme
                    a(href='/message?theme='+ theme.id) #{theme.name}
                    span.creator= theme.creator? theme.creator.login: ''


        script(src="scripts/themes.bundle.js")
