extends layouts/main.pug

block content
    .table.lib
        .head
            .cell Название
            .cell Описание
            .cell Автор
        each pub in items
            .row
                .cell
                    a(href='library/'+pub.id+'/'+pub.fileName)= pub.name
                .cell= pub.description
                .cell= pub.author.login

    //a(href='#' id='add_publication') Добавить публикацию
    form(action='' method='POST' id='new_pub_form' enctype='multipart/form-data')
        .table
            .row
                .cell Название
                .cell
                    input(type='text', name='name')
            .row
                .cell Описание
                .cell
                    input(type='text', name='description')
            .row
                .cell Загрузить файл
                .cell
                    input(type='file' name='attachment')
        div
            input(type='submit' value='Опубликовать')
            input(type='reset' value='Отмена')