doctype html
html
    head
        meta(charset="UTF-8")
        title Форум
        link(rel="stylesheet" href='/stylesheets/style.css')
    body
        form(method='POST')
            .login-box
                .form-box.table
                    .row
                        .cell Логин
                        .cell
                            input(type='text' name='login')
                    .row
                        .cell Пароль
                        .cell
                            input(type='password' name='password')
                div
                    input(type='submit' value='Войти')

