doctype html
html
    head
        meta(charset="UTF-8")
        title Форум
        link(rel="stylesheet" href='/stylesheets/style.css')
        //script(src='/socket.io/socket.io.js')
        //script.
        //    let socket = io();
    body
        include templates/mainmenu
        .title
            h3= theme.name
        ul#messages
            each message in messages
                li(id = `messid${message.id}`)
                    .table.full-width
                        .row
                            .msg-a
                                div
                                    img(src='image/avatar/'+message.author.id)
                                .author= message.author.login
                            .msg-b
                                div
                                    .msg-head
                                        .time #{message.updatedAt}
                                    .msg-body= message.text
                                    .msg-footer
                                        input(type='button' msgid=message.id value='Удалить')
        form(action='/' name='new_mess' method='POST')
            div
                textarea(name ='newmsg' rows='5' cols='50')
            div
                input(type='submit' value='Добавить')

            input(name='theme' type='hidden' value=theme.id)
    script(src="scripts/message.bundle.js")