doctype html
html
    head
        meta(charset="UTF-8")
        title Профиль
        link(rel="stylesheet" href='/stylesheets/style.css')
    body
        h3 User profile #{user.login}
        form(action='/image/upload' enctype='multipart/form-data' METHOD='POST')
            div
                img(src='image/avatar/'+user.id)
            div
                input(type='file' accept='image/*' name='userImg')
            div
                input(type='submit' value='Отправить')