nav.toolbar
    ul.left
        li
            a(href='/index') Форум
        li
            a(href='/library') Библиотека
    ul.right
        if user
            li
                a(href='/profile')= user.login
            li
                a(id='logout' href='/logout') Выход
        else
            li
                a(id='login' href='/login') Вход
            li
                a(id='register' href='/register') Регистрация