body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: darkblue;
    text-decoration: none;
}

.theme a {
    font-size: 15px;
    font-weight: bold;
}

.theme {
    padding: 8px;
    border-bottom: 1px solid darkgray;
}

.theme:first-child {
    border-top: 1px solid darkgray;
}

.creator {
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 5px;
}
.right {
    float: right;
}

.left {
    float: left;
}


.toolbar li {
    float: left;
    padding: 0px 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.login-box {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 90px auto 10px;
    width: 300px;
}

nav {
    height: 40px;
    background-color: lightgreen;
    border: 1px solid darkgreen;
    border-radius: 5px;
}

.buttons {
    padding: 8px;
}

.title {
    background-color: beige;
    padding: 1px 15px;
    border: 2px solid bisque;
    border-radius: 10px;
}

.msg-head {
    background-color: aliceblue;
    padding: 10px 30px 10px;
    font-size: 10px;
}

.author {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}

.time {

}

.msg-body {
    padding: 8px;

}

.msg-footer {
    padding: 8px;
    border: 1px solid bisque;
}

#messages li{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 2px solid  brown;
}

#messages li:first-child {
    border-top: 2px solid  brown;
}

.msg-a, .msg-b {
   display: table-cell;
}

.msg-a {
    width: 150px;
}

.msg-a img {
    width: 60px;
    height: 60px;
    border: 1px solid palevioletred;
}

.full-width {
    width: 100%;
}

.table .head {
    display: table-header-group;
    font-weight: bold;
}
